@model IEnumerable<SentimentAnalysisTool.Data.Models.CorpusWordModel>
<button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#corpus-record-modal">
    Add Corpus words <i class="fas fa-plus-circle"></i>
</button>
@await Html.PartialAsync("_AddCorpusWordModalPartial", new UploadCorpusWordViewModel())
<table class="table">
    <thead>
        <tr>
            <th scope="col">CorpusType Id</th>
            <th scope="col">Corpus Word Id</th>
            <th scope="col">Corpus Word</th>
            <th scope="col">Synonym Word</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.CorpusType != null)
                {
                    <td>@item.CorpusType.CorpusTypeId</td>
                }
                else
                {
                    <td>Not loaded</td>
                }
                <td>@item.CorpusWordId</td>
                <td>@item.CorpusWord</td>
                <td>@item.SynonymWord</td>
                <td>
                    <a class="btn btn-secondary"
                       data-ajax="true"
                       data-ajax-update="#corpus-words"
                       asp-controller="TextProcessing"
                       asp-action="DeleteCorpusWord"
                       asp-route-corpusTypeId="@ViewBag.CorpusTypeId"
                       asp-route-corpusWordId="@item.CorpusWordId">
                        Delete <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $('#corpus-record-file').on('change', function () {
        console.log("I am inside upload event");
        files = $(this)[0].files;
        name = '';
        for (var i = 0; i < files.length; i++) {
            name += '\"' + files[i].name + '\"' + (i != files.length - 1 ? ", " : "");
        }
        $(".custom-file-label").html(name);
    });
    $('#corpus-record-file').change(function () {
        var fileExtension = ['csv', 'xlsx'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            $('#warningMessage').show();
            $('#abbrev-upload-file').val("");
        } else {
            $('#warningMessage').hide();
        }
    });
</script>