@model IEnumerable<SentimentAnalysisTool.Data.Models.SlangRecordModel>
<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#slang-record-modal">
    Add Slang words <i class="fas fa-plus-circle"></i>
</button>
@await Html.PartialAsync("_AddSlangRecordModalPartial", new UploadSlangFileViewModel())
<table class="table">
    <thead>
        <tr>
            <th scope="col">CorpusType Id</th>
            <th scope="col">SlangRecord Id</th>
            <th scope="col">SlangWord</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.CorpusType != null)
                {
                    <td>@item.CorpusType.CorpusTypeId</td>
                }
                else
                {
                    <td>Not loaded</td>
                }
                <td>@item.SlangRecordsId</td>
                <td>@item.SlangName</td>
                <td>
                    <a class="btn btn-secondary"
                       data-ajax="true"
                       data-ajax-update="#slang"
                       asp-controller="TextProcessing"
                       asp-action="DeleteSlangRecord"
                       asp-route-corpusTypeId="@ViewBag.CorpusTypeId"
                       asp-route-slangRecordId="@item.SlangRecordsId">
                        Delete <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $('#slang-upload-file').on('change', function () {
        console.log("I am inside upload event");
        files = $(this)[0].files;
        name = '';
        for (var i = 0; i < files.length; i++) {
            name += '\"' + files[i].name + '\"' + (i != files.length - 1 ? ", " : "");
        }
        $(".custom-file-label").html(name);
    });
    $('#slang-upload-file').change(function () {
        var fileExtension = ['txt'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            $('#warningMessage').show();
            $('#slang-upload-file').val("");
        } else {
            $('#warningMessage').hide();
        }
    });
</script>