@model SentimentAnalysisTool.Web.Models.TextProcessingViewModel

<div class="row">
    <div class="col-12">
        <div class="card mb-2 shadow-sm">
            <div class="card-header">
                Corpus Types
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <div class="mr-auto">
                        @foreach (var item in Model.CorpusTypes)
                        {
                            <a type="button" class="btn btn-secondary"
                               asp-controller="TextProcessing"
                               asp-action="LoadCorpusTypeData"
                               asp-route-corpusTypeId="@item.CorpusTypeId">
                                @item.CorpusTypeName
                                <i class="fas fa-paper-plane"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card mb-2 shadow-sm">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#slang" role="tab" aria-selected="true">Slang Records</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#abbrevs" role="tab" aria-selected="false">Abbreviations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#corpus-words" role="tab" aria-selected="false">Corpus</a>
                </li>
            </ul>
            <div class="tab-content mt-1" id="myTabContent">
                <div class="tab-pane fade show active" id="slang" role="tabpanel" aria-labelledby="home-tab">
                    <button type="button" class="btn btn-secondary mb-1">Add Slang words <i class="fas fa-plus-circle"></i></button>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">CorpusType Id</th>
                                <th scope="col">SlangRecord Id</th>
                                <th scope="col">SlangWord</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.SlangRecords)
                            {
                                <tr>
                                    @if (item.CorpusType != null)
                                    {
                                        <td>@item.CorpusType.CorpusTypeId</td>
                                    }
                                    else
                                    {
                                        <td>Not loaded</td>
                                    }
                                    <td>@item.SlangRecordsId</td>
                                    <td>@item.SlangName</td>
                                    <td>
                                        <button class="btn btn-secondary">Update</button>
                                        <button class="btn btn-secondary">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="abbrevs" role="tabpanel" aria-labelledby="profile-tab">
                    <button type="button" class="btn btn-secondary mb-1">Add Abbreviations <i class="fas fa-plus-circle"></i></button>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">CorpusType Id</th>
                                <th scope="col">Abbreviation Id</th>
                                <th scope="col">Abbreviation</th>
                                <th scope="col">Abbreviation word</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                            @foreach (var item in Model.Abbreviations)
                            {
                                <tr>
                                    @if (item.CorpusType != null)
                                    {
                                        <td>@item.CorpusType.CorpusTypeId</td>
                                    }
                                    else
                                    {
                                        <td>Not loaded</td>
                                    }
                                    <td>@item.AbbreviationsId</td>
                                    <td>@item.Abbreviation</td>
                                    <td>@item.AbbreviationWord</td>
                                    <td>
                                        <button class="btn btn-secondary">Update</button>
                                        <button class="btn btn-secondary">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="corpus-words" role="tabpanel" aria-labelledby="home-tab">
                    <button type="button" class="btn btn-secondary mb-1">Add Corpus words <i class="fas fa-plus-circle"></i></button>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">CorpusType Id</th>
                                <th scope="col">Corpus Word Id</th>
                                <th scope="col">Corpus Word</th>
                                <th scope="col">Synonym Word</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Corpuses)
                            {
                                <tr>
                                    @if (item.CorpusType != null)
                                    {
                                        <td>@item.CorpusType.CorpusTypeId</td>
                                    }
                                    else
                                    {
                                        <td>Not loaded</td>
                                    }
                                    <td>@item.CorpusWordId</td>
                                    <td>@item.CorpusWord</td>
                                    <td>@item.SynonymWord</td>
                                    <td>
                                        <button class="btn btn-secondary">Update</button>
                                        <button class="btn btn-secondary">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>