@model SentimentAnalysisTool.Web.Models.CommentViewModels.UploadCsvCommentViewModel

<div class="row">
    <div class="col-12">
        <div class="card mb-2">
            <div class="card-body">
                <div class="row">
                    <form asp-controller="Records" asp-action="UploadCsvFile" method="post"
                          enctype="multipart/form-data">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="file" id="customfile" />
                                <label class="custom-file-label" for="customfile">Choose file</label>
                            </div>
                        </div>
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input" type="radio" name="algorithmnType" value="@SentimentAnalysisTool.Web.Enums.AlgorithmnType.Hybrid">
                            <label class="form-check-label">@nameof(SentimentAnalysisTool.Web.Enums.AlgorithmnType.Hybrid)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="algorithmnType" value="@SentimentAnalysisTool.Web.Enums.AlgorithmnType.SentiWordNet">
                            <label class="form-check-label">@nameof(SentimentAnalysisTool.Web.Enums.AlgorithmnType.SentiWordNet)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="algorithmnType" value="@SentimentAnalysisTool.Web.Enums.AlgorithmnType.Vader">
                            <label class="form-check-label">@nameof(SentimentAnalysisTool.Web.Enums.AlgorithmnType.Vader)</label>
                        </div>

                        <button type="submit" class="btn btn-success">Upload File</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card shadow-sm card-height">
            <div class="card-header">
                Comments <br />
            </div>
            <div class="card-body">
                @if (Model.Vader != null && Model.Hybrid == null && Model.SentiWordNet == null)
                {
                    @await Html.PartialAsync("_CommentsPartialVader", Model.Vader)
                }
                @if (Model.SentiWordNet != null && Model.Hybrid == null && Model.Vader == null)
                {
                    @await Html.PartialAsync("_CommentsPartialSentiwordnet", Model.SentiWordNet)
                }
                @if (Model.Hybrid != null && Model.SentiWordNet == null && Model.SentiWordNet == null)
                {
                    @await Html.PartialAsync("_CommentsPartialHybrid", Model.Hybrid)
                }
                @if (Model.Hybrid == null && Model.SentiWordNet == null && Model.SentiWordNet == null)
                {
                    <p>No Results Found!</p>
                }
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <div class="card mb-2 shadow-sm card-chart-height">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card mb-2 shadow-sm card-chart-height">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card mb-2 shadow-sm card-chart-height">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card mb-2 shadow-sm card-chart-height">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-2 shadow-sm card-chart-height-2">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script>
        $('#customfile').on('change', function () {
            console.log("I am inside upload event");
            files = $(this)[0].files;
            name = '';
            for (var i = 0; i < files.length; i++) {
                name += '\"' + files[i].name + '\"' + (i != files.length - 1 ? ", " : "");
            }
            $(".custom-file-label").html(name);
        });
    </script>
}
