@model SentimentAnalysisTool.Web.Models.CommentViewModels.UploadCsvCommentViewModel

<div class="row">
    <div class="col-12">
        <div class="card mb-2 shadow-sm">
            <div class="card-body">

                <div class="row">
                    <form method="post" asp-controller="Records" asp-action="UploadCsvFile" enctype="multipart/form-data"
                          data-ajax="true"
                          data-ajax-method="post"
                          data-ajax-update="#commentsPartial"
                          data-ajax-loading="#spinner-upload"
                          data-ajax-failure="promptNoNetwork">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="file" id="customfile" required />
                                <label class="custom-file-label" for="customfile">Choose file</label>
                            </div>
                        </div>
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input" type="radio" name="algorithmnType" value="@SentimentAnalysisTool.Web.Enums.AlgorithmnType.Hybrid">
                            <label class="form-check-label">@nameof(SentimentAnalysisTool.Web.Enums.AlgorithmnType.Hybrid)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="algorithmnType" value="@SentimentAnalysisTool.Web.Enums.AlgorithmnType.SentiWordNet">
                            <label class="form-check-label">@nameof(SentimentAnalysisTool.Web.Enums.AlgorithmnType.SentiWordNet)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="algorithmnType" value="@SentimentAnalysisTool.Web.Enums.AlgorithmnType.Vader">
                            <label class="form-check-label">@nameof(SentimentAnalysisTool.Web.Enums.AlgorithmnType.Vader)</label>
                        </div>

                        <input id="formSubmit" type="submit" class="btn btn-dark" value="Submit file" />
                    </form>
                    <div class="spinner-border ml-1 mt-1" role="status" id="spinner-upload" style="display:none;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="alert alert-danger" id="warningMessage" role="alert" style="display:none;">
                        Please upload csv files only
                    </div>
                    <div class="alert alert-warning" id="errorNetwork" role="alert" style="display:none;">
                        No network connection! Please try again later.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card shadow-sm card-height">
            <div class="card-header">
                Comments <br />
            </div>
            <div class="card-body" id="commentsPartial">
                @if (Model.Hybrid == null || Model.SentiWordNet == null || Model.Vader == null)
                {
                    <p>No results found!</p>
                }
                else
                {
                    @await Html.PartialAsync("_CommentsPartialVader", Model.Vader)
                    @await Html.PartialAsync("_CommentsPartialSentiwordnet", Model.SentiWordNet)
                    @await Html.PartialAsync("_CommentsPartialHybrid", Model.Hybrid)
                }
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <div class="card mb-2 shadow-sm card-chart-height">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card mb-2 shadow-sm card-chart-height">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card mb-2 shadow-sm card-chart-height">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card mb-2 shadow-sm card-chart-height">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-2 shadow-sm card-chart-height-2">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script>
        $('#customfile').on('change', function () {
            console.log("I am inside upload event");
            files = $(this)[0].files;
            name = '';
            for (var i = 0; i < files.length; i++) {
                name += '\"' + files[i].name + '\"' + (i != files.length - 1 ? ", " : "");
            }
            $(".custom-file-label").html(name);
        });
        $('#customfile').change(function () {
            var fileExtension = ['xlsx', 'csv'];
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                $('#warningMessage').show();
                $('#customfile').val("");
            } else {
                $('#warningMessage').hide();
            }
        });
        promptNoNetwork = function (response) {
            $('#errorNetwork').show();
            console.log("Network error!" + response.val);
        }
    </script>    
}
